.blog {
  margin: 0rem auto;
  max-width: 700px;

  h2,
  h3,
  h4,
  h5,
  h6,
  .header-link>svg {
    margin-top: 3rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  .header-link>svg {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  h5 {
    font-size: 0.875rem;
    font-weight: 600;
  }

  h6 {
    font-size: 0.75rem;
    font-weight: 600;
  }

  p {
    a {
      font-weight: 600;
      color: #7281ff;
      transition-property: color;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

      &:hover {
        color: #fff;
      }
    }
  }

  code {
    font-family: ui-monospace, monospace, system-ui, sans-serif;
    padding: 0.125rem 0.25rem;
    background: #232323;
    border-radius: 0.25rem;
    font-size: 0.9rem;
  }

  .header-link {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .header-link svg {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity .2s, transform .2s;
  }

  .header-link:hover svg {
    opacity: 1;
    transform: none;
  }
}
