.blog {
  margin: 0rem auto;
  max-width: 700px;

  .header-link {
    margin-top: 2rem;
  }

  .header-link,
  p,
  ul,
  ol {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  h5 {
    font-size: 0.875rem;
    font-weight: 600;
  }

  h6 {
    font-size: 0.75rem;
    font-weight: 600;
  }

  p {
    a {
      font-weight: 600;
      color: #7281ff;
      transition-property: color;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

      &:hover {
        color: #fff;
      }
    }
  }

  code {
    font-family: ui-monospace, monospace, system-ui, sans-serif;
    padding: 0.125rem 0.25rem;
    background: #232323;
    border-radius: 0.25rem;
    font-size: 0.9rem;
  }

  pre {
    margin: 2rem 0;

    code {
      counter-reset: line;
      padding: 1rem;
      background: #0d0e10;
      border: 1px solid #27272a;
      overflow: auto;
      font-size: 0.8em;
    }

    code>[data-line]::before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      width: 1rem;
      margin-right: 1.5rem;
      margin-left: 0.5rem;
      text-align: right;
      color: #71717a;
    }

    code[data-line-numbers-max-digits="2"]>[data-line]::before {
      width: 2rem;
    }

    code[data-line-numbers-max-digits="3"]>[data-line]::before {
      width: 3rem;
    }

    code>[data-highlighted-line] {
      background: #1f1f21;
      border-left: 0.25rem solid #a1a1aa;
    }

    code>[data-highlighted-line]::before {
      margin-left: 0.25rem;
    }
  }
}
